<ion-view view-title="Tableau de bord">
	<div class="bar bar-subheader bar-stable" ng-controller="countCtrl"> 
	    <!-- show only if countdown is running -->
    	<div class="timerLib">Fin de la course dans  {{countdown | secondsToDateTime | date:'HH:mm:ss'}}</div>
	</div>
	<div >
	    <ion-content>
		    <h1 class="title-dash">Tableau de bord {{loginData.username}}</h1>
		    <div class="btnPhoto"> 
		    	<button class="button button-light" ng-click="share('t','#runtowan','' ,'')">
			      <i class="icon ion-social-twitter"></i>
			    </button>
		    	<button class="button button-light" ng-click="scanBarcode()">QR Code</button>
			    <button class="button button-light" ng-click="addImage()">
				  <i class="icon ion-ios-camera"></i>
			  	</button><br><br>
		    </div>
		  	<ion-scroll class="recPhoto">
			  <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
		  	</ion-scroll>
		</ion-content></div>
</ion-view>
