<ion-view view-title="Règles">
<div class="backgrd">
	<ion-content>
    <h1 class="rules-title">Règles</h1>
    <ol class="rules">
    	<li class="numRules">1</li>
        <li><br></li>
    	<li class="regle">Chaque equipe doit se rendre au point indiqué sur la carte.</li>
        <li><br></li>
    	<li><hr></li>
        <li><br></li>
    	<li class="numRules">2</li>
        <li><br></li>
    	<li class="regle">Une fois sur place, les participantes recoivent une notification leur indiquant le déroulement de l'épreuve.</li>
        <li><br></li>
    	<li><hr></li>
        <li><br></li>
    	<li class="numRules">3</li>
        <li><br></li>
    	<li class="regle">Une fois l'épreuve validée par la photo, l'application permet de connaitre le prochain lieu où les participantes doivent se rendre.</li>
        <li><br></li>
    	<li><hr></li>
    </ol>
  </ion-content>
</div>
  
</ion-view>