<ion-view view-title="Contact">

  <ion-content>
      <div class="div-contact">
        <h1 class="title-contact">Contact</h1>
        <ol class="contact">
            <li class="contact-li txt">
            	Une question ? 
            </li>
            <li class="contact-li txt">
                Un souci ?                
            </li>
            <li class="contact-li txt">
                Prenez contact avec l'équipe !
            </li>
            <li class="contact-li txt">
                <hr>
            </li>
            <li class="contact-li tel">
                <i class="icon ion-ios-telephone"></i>
            	06 84 25 69 41
            </li>
            <li class="contact-li tel">
                <i class="icon ion-ios-telephone"></i>
            	06 84 25 69 41
            </li>
            <li class="contact-li tel">
                <i class="icon ion-ios-telephone"></i>
            	06 84 25 69 41
            </li>
        </ol>
      </div>
  </ion-content>
</ion-view>
