<ion-view view-title="Twitter">
  <ion-content>
  	<div class="card">
  		<div class="item item-divider">
  			<b> Share this app</b>
  		</div>
     <ul class="list">
       

    <ul class="list">
       <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-royal item-icon-left" ng-click="twitterShare()">
            <i class="icon ion-social-twitter"></i>
              twitter
      </button>
      </li>


      
    </ul>
 	
 		
			
  		</div>
	</div>
  </ion-content>
</ion-view>