/* Empty. Add your own CSS if you like */

#map {
    height: 100%;
    width: 100%;
}
.scroll {
    height: 100%;
}



.scroll-content{
background-image:url("../img/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.TypoLogoFinal {

  height: 100%;
  width: 100%;
  padding: 10%;
}

.TypoLogoFinal2 {

  height: 75%;
  width: 75%;
  padding: 10%;
}

.btnGo {
  text-align: center;
  vertical-align: bottom;
  
}


.goLink {
  color: white;
  font-size: 2em;
}


.connexion {
  text-align: center;
  color: white;
}



.connexion2 {
  margin: auto;
}



/*   Dashboard   */


.title-dash {
  text-align: center;
  color: white;
}


.btnQR {
  text-align: center;
}

.btnPhoto {
  text-align: center;
}

.recPhoto {
  text-align: center;
}

.btnTimer {
  margin: auto;
}

.timerLib {
  margin: auto;
}

/*   Rules   */



.rules {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%;
  color: white;
}


.rules-title {
  text-align: center;
  color: white;
}


.numRules {
  font-size: 1.5em;
}

.regle {
  font-size: 1.25em;
}

/*   Contacts   */



.title-contact {
  text-align: center;
  color: white;

}

.contact {
  text-align: center;
  color: white;

}


.contact-li {
  margin: 10%;
  
}


.tel {
  font-size: 1.5em;
}

.txt {
  font-size: 1.25em;
}







/*.item-content {
  
  background: url(/img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.imgHome {
  width: 200px;
  height: 200px;
}*/



/*
.toto {

background: url(/img/background.png);
}

.home {
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 2;
    position: relative;
}

.div-contact {
    background-color: #b1b1b1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 2;
    position: relative;
}

.backgrd {
    background-color: #5d5d6a;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 2;
    position: relative;
}












.btnLogin {
  margin-top: 10%;
}


*/


